body
{
	background-color: rgb(77, 65, 65);
	font-family: 'Open Sans', sans-serif;
}

.container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}


#menu
{
    text-align: center;
	background-color: rgb(207, 84, 12);
    margin-top: 10px;
    margin-bottom: 15px;
	color: white;
    padding: 10px;
    border-radius: 20px;

}

.topbar
{
	background-color: orange;
	color: white;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 15px;
    height: 240px;
    border-radius: 20px;
}

.topbarL
{
	float:left;
	padding: 20px;
	width: 270px;
	text-align: center;
	border-right: 2px dotted white;
}

.topbarR
{
	float: left;
    padding: 20px;
    padding-top: 60px;
	width: 628px;
	font-size: 16px;
	text-align: justify;
}



.content
{
	float: left;
	padding: 40px;
	width: 92%;
	background-color: white;
	min-height: 200px;
    text-align: justify;
    border-radius: 20px;
}

.footer
{
	clear: both;
	color: white;
	text-align: center;
	padding: 20px;
	font-size: 18px;
}

.option
{
	min-width: 50px;
	height: 25px;
	font-size: 18px;
	padding: 10px;
	border-right: 1px dotted white;
    opacity: 0.8;
	display: inline-block;
	transition: background-color .2s;

}

.option:hover
{
	background-color: #d88751;
	cursor: pointer;
	transition: background-color .2s;

}

.option a{
	all: unset;
}


.bigtitle
{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
	font-weight: 900;
	letter-spacing: 2px;
	margin-bottom: 5px;
	width:100%;
    
}

.dottedline
{
	height: 5px;
	margin-top: 15px;
	margin-bottom: 20px;
	border-bottom: 2px dotted .444444;
}

#Kontakt{
	float: left;
	width: 100%;
	margin-top: 15px;
	background-color: white;
    text-align: justify;
    border-radius: 20px;

}

.KontaktL{
	margin-top: 15px;
    padding: 40px;
	background-color: white;
	border-radius: 20px;
	float:left;
}

.KontaktR{
	margin-top: 15px;
    padding: 20px;
	background-color: white;
	border-radius: 20px;
	float:left;
}

.sidebar
{
	float: left;
    padding: 20px;
	text-align: left;
	font-size: 18px;
} 

.optionR
{
	font-size:16px;
	height:30px;
	line-height: 30px;
	padding: 10px;
	text-align: center;
	transition: background-color .2s;

}

.optionR:hover
{
	background-color: orange;
	color: white;
	transition: background-color .2s;
	cursor: pointer;
} 

.oferta-card{
	float:left;
	padding: 30px;
	min-width: 230px;
	max-width: 240px;
	min-height: 450px;

}

.oferta-card-2
{
	text-align:center;
}

content > .oferta-card {
	border-radius: 20px;
}

.inputPanel {
	margin-left: auto;
	margin-right: auto;
	width: 10em;
	border-style: solid;
	border: 3px;
	padding: 0px;
	text-align: left;
	
}

.koszykPozycja{
	position: relative;
	margin-top: 30px;
  }
  
  .koszykPozycjaInfo{
	display: inline;
	position: absolute;
	top: 25px;
	transform: translateY(-50%);
  }


  input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
}

button {
    width: 100%;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
    transition: box-shadow .2s;
}

button:hover {
    background-color: #fbfbfb;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    cursor: pointer;
    transition: box-shadow .2s;
}

.danieImg {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}